.swiper {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.swiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 2%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #ffff;
}

.swiper-pagination-bullet-active {
    width: 15px;
    height: 15px;
    background-color: #772aff;
}
